@{
    ViewData["Title"] = "Flights";
}
@model flight_manager_2021.Models.Reservations.ReservationsCreateViewModel

<div style="width: 20rem; height: 20rem; background-color: darkred;">
    @Model.Id.ToString()
</div>
