@{
    ViewData["Title"] = "Home Page";
}


@for (int i = 0; i < 20; i++)
{
    <div class="hero-content">
        <div class="hero-content-header">
            <span>[Going From]</span>
        </div>
        <div class="hero-content-hero">
            [Starting Hour] - [Ending Hour]
            [Additional information]
            //This is temporary
        </div>
        <div class="hero-content-footer">
            <span>[Going To]</span>
        </div>
    </div>
}
